.banner {
		margin-bottom: 20px;
		z-index: 1;
		}
		.banner .slider {
		position: relative;
		}
		.banner .slider ul {
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		height: 300px;
		overflow: hidden;
		position: relative;
		}
		.banner .slider ul li {
		position: absolute;
		top: 0;
		left: 50%;
		}
		.banner .slider .dots:after {
		display: table;
		clear: both;
		content: "";
		}
		.banner .slider .dots {
		position: absolute;
		bottom: 20px;
		left: 60%;
		z-index: 40;
		 *zoom: 1;
		}
		.banner .slider .dots a {
		display: block;
		float: left;
		width: 12px;
		height: 12px;
		margin-right: 10px;
		text-indent: -9999em;
		background: #000;
		border-radius: 10px;
		}
		.banner .slider .dots .cur {
		background: #329;
		}
		.banner .slider .arrow {
		width: 65%;
		position: absolute;
		top: 45%;
		left: 18%;
		z-index: 50;
		}
		.banner .slider .arrow a {
		font-family: "Microsoft YaHei";
		font-size: 34px;
		font-weight: 700;
		color: #fff;
		}
		.banner .slider .arrow .btn-left {
		float: left;
		}
		.banner .slider .arrow .btn-right {
		float: right;
		}